#publications .max-w-prose {
  max-width: clamp(65ch, 85vw, 90ch);
  font-size: 100%;
}

#domestic .max-w-prose {
  max-width: clamp(65ch, 85vw, 90ch);
  font-size: 100%;
}

#other-activities .max-w-prose {
  max-width: clamp(65ch, 85vw, 90ch);
  font-size: 100%;
}
